<html>
	<head>
		<link rel="stylesheet"href="libs/bootstrap/css/bootstrap.min.css">
		<script src="libs/jquery.min.js"></script>
		<script src="libs/bootstrap/js/bootstrap.min.js"></script>
		<script src="libs/vue.js"></script>
	</head>
	<body>
		<div id="tubuhku" class="container-fluid">
			<table class="table table-hover" style="display:none">
				<tr>
					<th style="width:14%"></th>
					<th style="width:14%">Nama</th>
					<th style="width:14%">Title</th>
					<th style="width:14%">Email</th>
					<th style="width:14%">Phone</th>
					<th style="width:14%">Address</th>
					<th style="width:14%">Company</th>
				</tr>
			</table>
			<cmgr-table :members="members"></cmgr-table>
		</div>
	</body>
	<script>
		Vue.component('cmgr-tablecoldata', {
			template:`
				<p v-on:click="notify_goToViewMode" style="margin:0" >{{ kvval }}</p>
				<input v-on:keyup.enter="notify_updateRow" type="text" v-model="kvval" style="display:none">
			`,
			props: ['cid', 'kvkey', 'kvval'],
			methods: {
				notify_updateRow:function(){
					this.$dispatch('notifyTriggerRowToLoadingMode', coldata');
					this.$dispatch('notifyUpdateRow', 'row', )
				}
			}
		});
		Vue.component('cmgr-tablerow', {
			template:`
				<tr>
					<td><span v-ref:loadspinner>O</span></td>
					<td><cmgr-tablecoldata kvkey="name" :kvval="member.name"></cmgr-tablecoldata></td>
					<td><cmgr-tablecoldata kvkey="title" :kvval="member.title"></cmgr-tablecoldata></td>
					<td><cmgr-tablecoldata kvkey="email" :kvval="member.email"></cmgr-tablecoldata></td>
					<td><cmgr-tablecoldata kvkey="phone" :kvval="member.phone"></cmgr-tablecoldata></td>
					<td><cmgr-tablecoldata kvkey="address" :kvval="member.address"></cmgr-tablecoldata></td>
					<td><cmgr-tablecoldata kvkey="company" :kvval="member.company"></cmgr-tablecoldata></td>
				</tr>
			`,
			props: ['cid', 'member']
		});
		Vue.component('cmgr-table', {
			template:`
				<table class="table table-hover">
					<tr>
						<th style="width:2%"></th>
						<th style="width:16%">Nama</th>
						<th style="width:16%">Title</th>
						<th style="width:16%">Email</th>
						<th style="width:16%">Phone</th>
						<th style="width:16%">Address</th>
						<th style="width:16%">Company</th>
					<tr is="cmgr-tablerow" v-for="member in members" :member="member" :cid="$index"></tr>
				</table>
			`,
			props: ['members']
		});
		var vm = new Vue({
		  el: '#tubuhku',
		  data: {
				members:[
					{cid:0, name: "Ariya", title: "Prof. Dr.", email: "ariya@ariya.com", phone: "021-111111", address: "Silicon Valley", company: "Shape"},
					{cid:1, name: "Asep", title: "S. Ak.", email: "asep@asep.com", phone: "021-222222", address: "Tangerang", company: ""},
					{cid:2, name: "Riza", title: "Dr.", email: "riza@riza.com", phone: "021-333333", address: "Jakarta", company: "" },
					{cid:3, name: "Sofian", title: "S.Si.", email: "sofian@sofian.com", phone: "021-444444", address: "Jakarta", company: "" }
				]
		  }
		});
	</script>
</html>